APP_ENV=production
HTTP_ADDR=:3000
DATABASE_URL=
JWT_SECRET=
ALLOWED_ORIGINS=https://shekinah-sons-admin.onrender.com

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MPESA_ENV=production
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://shekinah-sons-backend.onrender.com/api/v1/giving/mpesa/callback
MPESA_TRANSACTION_TYPE=CustomerPayBillOnline
MPESA_ACCOUNT_REFERENCE=Shekinah
